<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Brag</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-left">
            <p id="logo">&lt;Bragger/&gt;</p>
        </div>

        <div class="header-right">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="">My brags</a>
            <button>BRAG SOMETHING!</button>
            <a href="#"><img src="" alt="" width="43" height="43"></a>
        </div>
    </header>

    <main>
        <div class="brag-page main">
            <h1 class="brag-page-main-title">Title of the brag here</h1>
            <p class="brag-page-main-content">
                Lorem ipsum dolor sit amet consectetur adipiscing elit euismod, purus vulputate turpis facilisis malesuada vel lacus felis dictum, metus maecenas leo potenti nunc vehicula sed. Sociosqu proin fringilla lacus phasellus dignissim et tellus quam, massa elementum euismod ultricies pulvinar auctor ut vestibulum luctus, tristique nibh fermentum dictum risus pharetra mi. Dignissim risus luctus ac ut curabitur dui eros hac porttitor euismod in, torquent nisl aptent senectus vel conubia nunc varius purus posuere auctor, aliquam pulvinar sagittis egestas tellus non urna molestie turpis lobortis.
    
                Senectus commodo ornare proin posuere porta mus odio congue rhoncus facilisis, torquent curabitur integer feugiat per litora habitant accumsan. Class elementum ut magna dictumst senectus aliquam mollis tortor fames sociis proin, nam accumsan tempus rutrum vehicula integer conubia vel quis laoreet. Fames lobortis eleifend interdum tempus accumsan litora porttitor vivamus, nulla nisi nunc natoque facilisis scelerisque porta ut, eros tincidunt sed torquent semper tortor sociosqu.
    
                Lorem ipsum dolor sit amet consectetur adipiscing elit euismod, purus vulputate turpis facilisis malesuada vel lacus felis dictum, metus maecenas leo potenti nunc vehicula sed. Sociosqu proin fringilla lacus phasellus dignissim et tellus quam, massa elementum euismod ultricies pulvinar auctor ut vestibulum luctus, tristique nibh fermentum dictum risus pharetra mi. Dignissim risus luctus ac ut curabitur dui eros hac porttitor euismod in, torquent nisl aptent senectus vel conubia nunc varius purus posuere auctor, aliquam pulvinar sagittis egestas tellus non urna molestie turpis lobortis.
    
                Senectus commodo ornare proin posuere porta mus odio congue rhoncus facilisis, torquent curabitur integer feugiat per litora habitant accumsan. Class elementum ut magna dictumst senectus aliquam mollis tortor fames sociis proin, nam accumsan tempus rutrum vehicula integer conubia vel quis laoreet. Fames lobortis eleifend interdum tempus accumsan litora porttitor vivamus, nulla nisi nunc natoque facilisis scelerisque porta ut, eros tincidunt sed torquent semper tortor sociosqu.
            </p>
        </div>

        <div class="brag-page-footer">
            <ul class="tag-group">
                <li>Sport</li>
                <li>Music</li>
                <li>Fashion</li>
                <li>Food</li>
            </ul>

            <div class="brag-page-edit-footer">
                <button>Save Draft</button>
                <button>Publish</button>
            </div>

        </div>
    </main>
</body>
</html>