<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drafts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../../public/style.css">

</head>
<body>
    <header>
        <div class="header">
            <div class="header-left">
                <a href="#" id="logo">&lt;Bragger/&gt;</a>
            </div>
    
            <div class="header-right">
                <i class="fa-solid fa-magnifying-glass"></i>
                <a href="">My brags</a>
                <button>BRAG SOMETHING!</button>
                <img src="../../public/avatar_batman.png" alt="" width="43" height="43">
            </div>
        </div>
    </header>

    <section class="profile">
        <div>
            <img src="../../public/avatar_batman.png" alt="" width="160" height="160">
            <p class="profile-name">John Doe</p>
            <p class="profile-follower-count">2.1k followers</p>
            <p class="profile-brag-count">5 brags</p>
        </div>
    </section>

    <main>



        <nav>
            <a href="#">Published (5)</a>
            <a href="#">Drafts (10)</a>
        </nav>


        <ul class="tag-group">
            <li>Technology</li>
            <li>Fashion</li>
            <li>Food</li>
            <li>Worldwide</li>
            <li>Product</li>
            <li>Sports</li>
            <li>Car</li>
            <li>Music</li>
            <li>Movies</li>
            <li>Gaming</li>
            <li>Health</li>
        </ul>


        <div class="brag-cards-group">

            <div class="brag-card">
                <div class="brag-header">
                    <div class="brag-header-left">
                        <p class="date">Drafted on January 1, 2001</p>
                    </div>
                    <div class="brag-header-right icon-group">                        
                        <!-- <i class="fa-solid fa-link"></i> -->
                        <i class="fa-solid fa-pen-to-square"></i>
                        <i class="fa-solid fa-globe"></i>
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>

                <div class="brag-main">
                    <h2 class="brag-title">This is the title of the brag</h2>
                    <p class="brag-content">Lorem ipsum dolor sit amet consectetur adipiscing elit, laoreet neque tellus duis velit blandit parturient, sollicitudin nullam eleifend proin tempus rutrum. Lorem ipsum dolor sit amet consectetur adipiscing elit, laoreet neque tellus duis velit blandit parturient, sollicitudin nullam eleifend proin tempus rutrum.</p>
                </div>

                <div class="brag-footer">
                    <div class="brag-footer-left">
                        <ul class="tag-group">
                            <li>Sport</li>
                            <li>Music</li>
                            <li>Fashion</li>
                            <li>Food</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 <a href="#">Alex Ramos</a>. All rights reserved.</p>
    </footer>
</body>
</html>