<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bragger Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-left">
            <p id="logo">&lt;Bragger/&gt;</p>
        </div>

        <div class="header-right">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="">My brags</a>
            <button>BRAG SOMETHING!</button>
            <a href="#"><img src="" alt="" width="43" height="43"></a>
        </div>
    </header>

    <main>
        <nav>
            <a href="#">Explore</a>
            <a href="#">Following</a>
            <a href="#">Saved</a>
        </nav>


        <ul id="tag-group">
            <li>Technology</li>
            <li>Fashion</li>
            <li>Food</li>
            <li>Worldwide</li>
            <li>Product</li>
            <li>Sports</li>
            <li>Car</li>
            <li>Music</li>
            <li>Movies</li>
            <li>Gaming</li>
            <li>Health</li>
        </ul>


        <div class="brag-cards-group">

            <div class="brag-card">
                <div class="brag-header">
                    <div class="brag-header-left">
                        <p class="date">Bragged on January 1, 2001</p>
                    </div>
                    <div class="brag-header-right">
                        <p><a href="#"><img src="" alt="" width="21" height="21">by John Doe</a></p>
                    </div>
                </div>

                <div class="brag-main">
                    <h2 class="brag-title">This is the title of the brag</h2>
                    <p class="brag-content">Lorem ipsum dolor sit amet consectetur adipiscing elit, laoreet neque tellus duis velit blandit parturient, sollicitudin nullam eleifend proin tempus rutrum. Lorem ipsum dolor sit amet consectetur adipiscing elit, laoreet neque tellus duis velit blandit parturient, sollicitudin nullam eleifend proin tempus rutrum.</p>
                </div>

                <div class="brag-footer">
                    <div class="brag-card-footer-left">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-bookmark"></i>
                        <i class="fa-solid fa-link"></i>
                    </div>
                    <div class="brag-card-footer-right">
                        <ul class="tag-group">
                            <li>Sport</li>
                            <li>Music</li>
                            <li>Fashion</li>
                            <li>Food</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>